@import 'mixin';
@import 'animation';

#header {
    height: 100vh;
    background-image: linear-gradient(to right bottom,
            rgba($colorBlack, 0.5),
            rgba($colorBlack, 0.5)),
        url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header {
    @include fullWidthHeight;

    .heading-primary {
        position: absolute;
        left: 2rem;
        top: 0;
        font-size: 4rem;
        color: $darkGreenColor;
        animation: moveRight 0.5s 0.6s ease-out backwards;
        text-shadow: 0 0.5rem 1.5rem $colorBlack;
    }

    &__btn-box {
        @include flexBox(center);
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        animation: moveUp 0.5s 0.2s ease-out backwards;

        .header__btn {
            background-color: #fff;
            box-shadow: 0 1rem 2rem $colorBlack;
            transition: all .3s;
            padding: 1rem 1.5rem;


            &:hover {
                transform: translateY(-0.2rem);
                box-shadow: 0 0.5rem 1rem $colorBlack;
            }

            &:active {
                transform: translateY(-0.06rem);
                box-shadow: 0 0.5rem 1rem $colorBlack;
            }

            span {
                color: $darkGreenColor;
                font-weight: 400;
            }

            i {
                color: $darkRedColor;
            }
        }

    }

}

#form-section {
    @include fullWidthHeight;
    position: absolute;
    top: 0;
    padding: 3rem;
    pointer-events: none;

    .form {
        @include fullWidthHeight;
        @include flexBox(center);

        &__panel {
            width: 60%;
            height: auto;

            form {
                @include flexBox(space-between);
                flex-direction: row-reverse;
                // background-color: orange;
                height: 100%;

                .wrapper {
                    width: 32rem;
                    height: 100%;
                    @include flexBox(center);
                    // background-color: #fff;
                    margin-right: 0.2rem;
                    position: relative;
                    animation: moveUp 0.5s 0.75s ease-out backwards;

                    .btn-search {
                        pointer-events: painted;
                        background-color: $darkGreenColor;
                        padding: 1rem 3rem;
                        color: $colorWhite;
                        box-shadow: 0 1rem 2rem $colorBlack;
                        transition: all .3s;

                        &:hover {
                            transform: translateY(-0.2rem);
                            box-shadow: 0 0.5rem 1rem $colorBlack;
                        }
            
                        &:active {
                            transform: translateY(-0.06rem);
                            box-shadow: 0 0.5rem 1rem $colorBlack;
                        }

                    }
 
                    .input__box{
                        pointer-events: painted;
                        position: relative;

                        .inputs {
                            padding: 1.5rem 1rem;
                            border: 0;
                            outline: 0;
                            color: transparent;
                            background-color: transparent;
                            border-bottom: 1px solid $colorWhite;
                            font-size: 1.6rem;
                            font-weight: 700;


                            &:focus,
                            &:valid {
                                color: $darkGreenColor;
                            }
                        }

                        option{
                            background-color: $colorWhite;
                        }

                    }

                    label{
                        width: 100%;
                        position: absolute;
                        font-size: 1.8rem;
                        bottom: -2.5rem;
                        left:0rem;
                        color: $colorWhite;
                        text-align: center;

                        span{
                            @include fullWidthHeight;
                        }
                    }
                }
            }
        }
    }
}