@import "mixin";
@import "colors";

#login-form {
    @include flexbox;
    width: 100%;
    height: 100vh;

    .login-container {
        width: 400px;
        height: 530px;
        border-radius: 3rem;
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, $lightBlue 0%, $darkBlue 74%);


        .login-form {
            @include fullWidth-height;
            @include flexbox;
            flex-direction: column;

            .float {
                @include flexbox;
                width: 80%;
                height: 5rem;
                margin: 1rem 0;
                position: relative;

                #date {
                    &::-webkit-datetime-edit {
                        color: $white;
                        transition: 300ms;
                    }

                    &:focus::-webkit-datetime-edit {
                        color: $balck !important;
                    }
                }


                &-input {
                    @include fullWidth-height;
                    @include none;
                    @include font-size;
                    padding: 2rem;
                    position: relative;
                    text-align: center;
                    border-radius: 3rem;
                    transition: 300ms;

                    &:focus {
                        border-radius: 0;
                    }


                    &:focus~.float-label {
                        left: 0.3rem;
                        top: 0.2rem;
                        font-size: 1.2rem;
                        color: $balck;
                        text-align: start;

                    }

                }

                &-label {
                    @include font-size;
                    width: 100%;
                    text-align: start;
                    position: absolute;
                    left: 1rem;
                    top: 1.2rem;
                    transition: 300ms;
                    color: $lightgray;
                }


                .valid{
                    color: green;
                    border: 1px solid green;
                }
                .unvalid{
                    color: red;
                    border: 1px solid red;
                }

            }

            .gender {
                @include flexbox;
                flex-direction: column;
                margin-top: 1.5rem;
                width: 80%;
                height: 10rem;

                &-title {
                    font-size: 2.7rem;
                    width: 100%;
                    height: 40%;
                }

                &-option {
                    @include flexbox;
                    justify-content: flex-start !important;
                    width: 100%;
                    height: 55%;


                    .option {
                        @include flexbox;
                        width: 20rem;
                        margin: 0.5rem 0.5rem;
                        padding: 1.5rem 1rem;
                        border-radius: 1.5rem;
                        background-color: $white;

                        input {
                            width: 1.5rem;
                            height: 1.5rem;
                            cursor: pointer;
                        }

                        label {
                            @include font-size;
                            margin-left: 0.8rem;
                            cursor: pointer;
                            color: $lightgray;
                            transition: 300ms;

                            &:hover {
                                color: $balck;
                            }
                        }
                    }
                }
            }


            .accept {
                @include flexbox;
                justify-content: flex-start;
                width: 80%;
                height: 5rem;
                margin-top: 1.5rem;

                input {
                    width: 2rem;
                    height: 1.6rem;
                    margin-left: 0.5rem;
                }

                label {
                    @include font-size;
                    margin-left: 1rem;
                    cursor: pointer;
                }
            }

            .create-account {
                margin-top: 1.5rem;
                width: 80%;
                height: 5rem;

                .not-allow{
                    @include fullWidth-height;
                    @include none;
                    @include font-size;
                    padding: 1rem 3rem;
                    border-radius: 1.5rem;
                    background-color: $darkBlue;
                    color: $white;
                    transition: 300ms;
                    opacity: 0.4;
                    cursor: not-allowed;
                    opacity: 0.4;
                }
                
                .active {
                    @include fullWidth-height;
                    @include none;
                    @include font-size;
                    padding: 1rem 3rem;
                    border-radius: 1.5rem;
                    cursor: pointer;
                    background-color: $darkBlue;
                    color: $white;
                    transition: 300ms;


                    &:hover {
                        border: 1px solid $darkBlue;
                        border-radius: 0;
                        background-color: $white;
                        color: $darkBlue;
                    }

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }


        }
    }
}