@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#login-form .login-container {
  width: 400px;
  height: 570px;
  background-color: lightBlue;
}
#login-form .login-container .login-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login-form .login-container .login-form .float {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5rem;
  margin: 1rem 0;
  position: relative;
}
#login-form .login-container .login-form .float #date::-webkit-datetime-edit {
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}
#login-form .login-container .login-form .float #date:focus::-webkit-datetime-edit {
  color: #000 !important;
}
#login-form .login-container .login-form .float-input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 2rem;
  position: relative;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 3rem;
  transition: 300ms;
}
#login-form .login-container .login-form .float-input:focus {
  border-radius: 0;
}
#login-form .login-container .login-form .float-input:focus ~ .float-label {
  left: 2rem;
  top: -1.7rem;
  font-size: 1.4rem;
  color: #000;
  text-align: start;
}
#login-form .login-container .login-form .float-label {
  width: 20rem;
  text-align: center;
  position: absolute;
  font-size: 1.8rem;
  left: 5rem;
  top: 1.2rem;
  transition: 300ms;
  color: #ccc;
}
#login-form .login-container .login-form .gender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 80%;
  height: 10rem;
}
#login-form .login-container .login-form .gender-title {
  font-weight: 400;
  font-size: 3rem;
  width: 100%;
  height: 40%;
}
#login-form .login-container .login-form .gender-option {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
  height: 55%;
}
#login-form .login-container .login-form .gender-option .option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: 0.5rem 0.5rem;
  padding: 1.5rem 1rem;
  border-radius: 1.5rem;
  background-color: #fff;
}
#login-form .login-container .login-form .gender-option .option input {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#login-form .login-container .login-form .gender-option .option label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 0.8rem;
  cursor: pointer;
  color: #ccc;
  transition: 300ms;
}
#login-form .login-container .login-form .gender-option .option label:hover {
  color: #000;
}
#login-form .login-container .login-form .accept {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 5rem;
}
#login-form .login-container .login-form .accept input {
  width: 2rem;
  height: 1.6rem;
}
#login-form .login-container .login-form .accept label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1rem;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */