*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  scroll-behavior: smooth;
  background-color: #ccc;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

input,
button {
  border: 0;
  outline: 0;
}

@keyframes bgAnimation {
  0% {
    background-position: -2rem center;
  }
  100% {
    background-position: 0 center;
  }
}
@keyframes boxOpacity {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  70% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  padding: 0.4rem 1.7rem;
  color: #fff;
  margin-left: 0.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  transition: all 300ms;
  box-shadow: 0 1rem 2rem #000;
}
.btn:hover {
  box-shadow: 0 0.5rem 1rem #000;
}

#todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero.jpg");
  background-size: 120% 200%;
  background-position: center;
  animation: bgAnimation 3s linear infinite alternate;
}
#todo .todo__box {
  min-width: 40rem;
  min-height: 35rem;
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  border-radius: 2rem;
  overflow: hidden;
  animation: boxOpacity 0.5s ease-out 0.4s backwards;
}
#todo .todo__box .todo__header {
  font-size: 4rem;
}
#todo .todo__box .todo__form-box {
  min-width: 100%;
  min-height: 3rem;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  position: relative;
}
#todo .todo__box .todo__form-box .todo__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#todo .todo__box .todo__form-box .todo__form .todo__form-input {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#todo .todo__box .todo__form-box .todo__form .todo__form-input .todo__input {
  min-width: 80%;
  min-height: 100%;
  padding: 1rem;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
#todo .todo__box .todo__form-box .todo__form .todo__form-label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.8rem;
}
#todo .todo__box .todo__form-box .todo__form .btn-add {
  position: absolute;
  display: inline-block;
  top: 1rem;
  right: 1rem;
  background-color: #6FDA9A;
}
#todo .todo__box .todo__form-box .todo__form .btn-add:hover {
  background-color: #46d07e;
}
#todo .todo__box .todo__items {
  min-width: 100%;
  min-height: auto;
  padding: 0.5rem 1rem;
}
#todo .todo__box .todo__items .todo__list {
  background-color: #0ff;
  position: relative;
}
#todo .todo__box .todo__items .todo__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-title {
  font-size: 1.6rem;
  color: #fff;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-title:focus {
  border: 0;
  outline: 0;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-btn {
  padding: 1rem;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-btn .btn-edit {
  background-color: #74b9ff;
  color: #fff;
  margin-left: 0.5rem;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-btn .btn-edit:hover {
  background-color: #419fff;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-btn .btn-delete {
  background-color: #ff7675;
  color: #fff;
  margin-left: 0.5rem;
}
#todo .todo__box .todo__items .todo__list-item .todo__task-btn .btn-delete:hover {
  background-color: #ff4342;
}

/*# sourceMappingURL=style.css.map */
