@media screen and (max-width:375px) {
    html{
        font-size: 52%;
    }
}
@media screen and (min-width:768px) {
    html{
        font-size: 60%;
    }
}
@media screen and (min-width:1024px) {
    html{
        font-size: 62.5%;
    }
}