@import 'mixin';
@import 'animations';

.btn {
    padding: 0.4rem 1.7rem;
    color: $white;
    margin-left: 0.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    transition: all 300ms;
}

#todo {
    @include flexBox;

    height: 100vh;

    background-image: linear-gradient(to right bottom,
            rgba($black, .4),
            rgba($black, .4)),
        url('../img/hero.jpg');

    background-size: 120% 200%;
     background-position: center;

    animation: bgAnimation 3s linear infinite alternate;

    .todo__box {
        @include width-height(40rem, 35rem);
        @include flexBox(none, column);
        position: relative;
        background-color: rgba($color: $white, $alpha: .3);
        padding: 0.5rem;
        border-radius: 2rem;
        overflow: hidden;


        .todo__header {
            font-size: 4rem;
        }

        .todo__form-box {
            @include width-height(100%, 3rem);
            box-sizing: border-box;
            padding: 1rem 0.5rem;
            position: relative;

            .todo__form {
                @include flexBox(space-between);


                .todo__form-input {
                    @include width-height(100%, 100%);
                    @include flexBox(space-between);


                    .todo__input {
                        @include width-height(80%, 100%);
                        padding: 1rem;
                        background-color: transparent;
                        border-bottom: 1px solid $black;
                    }

                }

                .todo__form-label {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    font-size: 1.8rem;
                }

                

                .btn-add {
                    position: absolute;
                    display: inline-block;
                    top: 1rem;
                    right: 1rem;
                    background-color: $lightGreen;

                    &:hover{
                        background-color: darken($lightGreen, 10%);
                    }
                }
            }

        }

        .todo__items{
            @include width-height(100%, auto);
            padding: 0.5rem 1rem;

            .todo__list{
                background-color: #0ff;
                position: relative;

                &-item{
                    @include flexBox(space-between);
                    text-align: center;

                    .todo__task-title{
                        font-size: 1.6rem;
                        color: $white;
                        &:focus{
                            border: 0;
                            outline: 0;
                        }
                    }

                    .todo__task-btn{
                        padding: 1rem;

                        .btn-edit{
                            background-color: $lightBlue;
                            color: $white;
                            margin-left: 0.5rem;

                            &:hover{
                                background-color: darken($lightBlue, 10%);
                            }
                        }
                        .btn-delete{
                            background-color: $lightRed;
                            color: $white;
                            margin-left: 0.5rem;

                            &:hover{
                                background-color:darken($lightRed, 10%)
                            }
                        }
                    }
                }
            }
        }

    }




}