@import 'mixin';

#todo {
    @include flexBox;

    height: 100vh;

    background-image: linear-gradient(to right bottom,
            rgba($black, .4),
            rgba($black, .4)),
        url('../img/hero.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .todo__box {
        @include width-height(40rem, 35rem);
        @include flexBox(space-between, column);
        position: relative;
        background-color: rgba($color: $white, $alpha: .3);
        padding: 0.5rem;
        border-radius: 2rem;


        .todo__header {
            font-size: 4rem;
        }

        .todo__form-box {
            @include width-height(100%, 3rem);
            box-sizing: border-box;
            padding: 1rem 0.5rem;
            position: absolute;
            top: 7rem;

            .todo__form {
                @include flexBox(space-between);


                .todo__form-input {
                    @include width-height(100%, 100%);
                    @include flexBox(space-between);


                    .todo__input {
                        @include width-height(80%, 100%);
                        padding: 1rem;
                        background-color: transparent;
                        border-bottom: 1px solid $black;
                    }

                }

                .todo__form-label {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    font-size: 1.8rem;
                }

                .btn {
                    padding: 0.4rem 1.7rem;
                    color: $white;
                    margin-left: 0.5rem;
                    border-radius: 1rem;
                    font-size: 1.6rem;
                }

                .btn-add {
                    position: absolute;
                    display: inline-block;
                    top: 1rem;
                    right: 1rem;
                    background-color: $lightGreen;
                }
            }

        }

    }


    

}