.footer {
  display: flex;
  padding: 15rem 5rem 2rem;
  background-color: #fff;

  & > * {
    width: 50%;
  }

  &__text {
    text-align: left;
  }

  &__social {
    display: flex;
    align-items: center;

    &--item {
      width: 3rem;
      height: 3rem;
      background-color: darken($color-primary, 10%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s;
      box-shadow: 0 1rem 4rem rgba(#000, 0.2);

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 4rem rgba(#000, 0.5);
      }

      .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__item {
    text-align: center;
    cursor: pointer;
    &--header {
      font-size: 1.8rem;
    }

    &--list {
      list-style: none;
      &__item {
        font-size: 1.6rem;
        text-align: center;
        margin: 1rem 0;
        color: #777;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          color: #000;
          transform: translateY(-0.5rem);
        }
      }
    }
  }
}

.copy {
  background-color: #fff;
  padding: 5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #777;

  &__text {
    margin-top: 2rem;
    display: inline-block;
  }
}
