:root {
    --blueColor : #2980b9;
    --white : #fff;
    --black : #000;
    --moreExploreBg : #FCE4EC;
    --likeRed : #d63031;
    --lightGray : #ccc
    --lightBlue : #2980b9;
    --linkActive : #341f97;
}