#dream-trip{
    width: 100%;
}

.dream-trip-title{
    text-align: center;
    font-size: 4rem;
    padding: 3rem 10rem;
}

.collecion-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 6rem;

}

.collecion-preview-item{
    width: 24%;
    height: 25rem;
    overflow: hidden;
    flex: auto;
    position: relative;
    margin: 1rem;
    background-color: var(--black);
    cursor: pointer;
}

.collecion-preview-item:hover .collecion-preview-image{
transform: scale(1.3);
}


.collecion-preview-item:last-child{
    height: 55rem;
}

.collecion-preview-image{
    width: 100%;
    height: 100%;
    transition:3s cubic-bezier(0.90,0.8,0.9,0.70);
}

.collecion-preview-image img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.collecion-preview-description{
    width: 13rem;
    color: var(--white);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.7rem;
    font-weight: 700;

}

.learn-more{
    height: 15rem;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    text-align: start;
    color: var(--white);
    padding: 1.5rem 2.1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.learn-more button{
    width: 10rem;
    height: 4.3rem;
    border-radius: 2.15rem;
    margin-top: 1rem;
    transition: 300ms;
}

.learn-more button:hover{
    background-color: transparent;
    border: 0.1rem solid var(--white);
    color: var(--white);
}

/* end section :  dream-trip*/